body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 40%;
  margin: 100px auto;
  background-color: rgb(223, 223, 223);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.tombol {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.tombol a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-weight: bold;
  display: block;
  padding: 50px 20px;
  border-radius: 15px;
  background-color: rgb(255, 52, 52);
  transition: 0.3s;
}

.tombol .extract {
  background-color: rgb(72, 72, 255);
}

.tombol a:hover {
  background-color: rgb(226, 29, 29);
}

.tombol .extract:hover {
  background-color: rgb(33, 33, 211);
}

/* insert part */
h1,
h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

textarea,
input[type="file"] {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}
